# Music Genre Recommendation Model

### We will develop a model to study the effect of (age, gender) input variables on (genre) output variables, which recommends user the genre of music he/she may prefer to listen.

In [2]:
# Import Libraries
import pandas as pd

In [5]:
df = pd.read_csv('Music genre.csv')

In [6]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
# splitting dataset into input and output variables
inputv = df.drop(columns = ["genre"])
output = df["genre"]

In [9]:
inputv

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [10]:
output

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [47]:
# Now, we split our dataset into testing and training dataset.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputv, output,
test_size=0.3, random_state=1)

In [48]:
# Applying algorithm
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [49]:
# Fitting model into training dataset
reg =model.fit(x_train, y_train)

In [50]:
x_test

    age  gender
6    31       1
3    26       1
13   27       0
2    25       1
14   30       0
7    33       1

In [51]:
# Predicting the values by giving intput
predict = model.predict(x_test)

In [52]:
predict

array(['Classical', 'HipHop', 'Acoustic', 'HipHop', 'Acoustic',
       'Classical'], dtype=object)

In [53]:
reg.score(x_test, y_test)

0.8333333333333334

In [54]:
reg.score(x_train, y_train)

1.0

#### You can see that the test score and training score is near to one another which shows that the model not underfit and overfit, its is accurate